.ola-container {
    background-color: #E6EADF;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.ola-container-second {
    width: 100vw;
    height: 100vh;
    background-color: #E6EADF;
}

.ola-container .sections-wrapper {
    display: flex;
    overflow: hidden;
    width: 200vw;
    height: 100vh;
}

.ola-container h2 {
    color: var(--c-primary-interaction);
}

.ola-container .ola-first {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ola-container .ola-second {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
}

.ola-second .frame-container {
    display: flex;
    padding-top: 10rem;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
}

.frame-container .frame-item {
    width: 16rem;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.frame-container .frame-item button {
    display: none;
}

.frame-container .frame-item h2 {
    opacity: 0;
    color: var(--c-support);
    transition: all 0.3s ease-in-out;
    font-size: 1.4rem;
    text-align: center;
    transform: scale(.8);
}

.frame-container .frame-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.frame-container .frame-item:hover {
    transform: scale(1.1);
}

.frame-container .frame-item:hover h2 {
    opacity: 1;
    transform: scale(1.05) translateY(-1rem);
}


.ola-first .max-width {
    width: 100%;
    display: flex;
    max-width: var(--max-width);
}

.ola-first .ola-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 4rem;
    width: 24rem;
    z-index: 1;
}

.img-plant-1 {
    position: absolute;
    left: 0;
    z-index: 0;
    bottom: 0;
    height: 100vh;
    width: 10rem;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
    pointer-events: none;
}

.img-plant-1 img {
    height: 100%;
    object-fit: cover;
    object-position: right;
    pointer-events: none;
}

.img-plant-2 {
    position: absolute;
    right: -20rem;
    bottom: 0;
    pointer-events: none;
}

.img-iza-recorte {
    position: absolute;
    right: 12rem;
    bottom: 0;
    z-index: 0;
    width: 48rem;
    object-fit: cover;
    pointer-events: none;
}

.img-light-ola {
    position: absolute;
    height: 100vh;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

.img-plant-3 {
    position: absolute;
    right: -12rem;
    bottom: 0;
    z-index: 0;
    pointer-events: none;
}

.img-sofa {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    object-fit: cover;
    object-position: bottom;
    width: 90%;
    pointer-events: none;
}

.img-shadow-ola {
    position: absolute;
    top: -8%;
    left: -5%;
    z-index: 999;
    pointer-events: none;
    display: flex;
    gap: -1rem;
}

.first-img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

.ola-mobile-txt {
    display: none;
}

@media (min-width: 768px) {

    .mobile-only {
        display: none;
    }
}

@media (max-width: 768px) {

    .ola-container {
        overflow: hidden;
    }

    .ola-container-second {
        display: none;
    }

    .ola-container .ola-first {
        display: none;
    }

    .ola-container .ola-second {
        overflow: hidden;
    }

    .ola-second .img-plant-3 {
        display: none;
    }

    .ola-container .ola-second {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .ola-container .ola-second .ola-mobile-txt {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
        max-width: 32rem;
        margin-bottom: 3rem;
        padding: 3rem;

        h1 {
            color: #515151;
            text-align: center;
        }
    }

    .ola-second .img-sofa {
        position: absolute;
        left: -5rem;
        bottom: -5rem;
        transform: unset;
        z-index: 0;
        object-fit: cover;
        object-position: bottom;
        width: 80rem;
    }

    .ola-container .ola-second .frame-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: calc(100vw - 46vw);
        height: 70%;
        overflow-x: auto;
        gap: 0;
        padding: 3rem 23vw 0 23vw;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .ola-container .ola-second .frame-container img {
        width: 18rem;
        height: auto;
        object-fit: cover;
    }

    .frame-container .frame-item {
        flex-direction: column-reverse;
        width: 64vw;
        max-width: 64vw;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
        scroll-snap-align: center;
        scroll-snap-stop: always;
        transform: unset;
        transition: unset;
    }

    .frame-container .frame-item button {
        display: unset;
    }

    .frame-container .frame-item h2 {
        opacity: 1;
        transform: unset;
    }


    .frame-container .frame-item:hover {
        transform: unset;
    }

    .frame-container .frame-item:hover h2 {
        opacity: unset;
        transform: unset;
    }


}