.ola-container {
    background-color: #E6EADF;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.ola-container-second {
    width: 100vw;
    height: 100vh;
    background-color: #E6EADF;
}

.ola-container .sections-wrapper {
    display: flex;
    overflow: hidden;
    width: 200vw;
    height: 100vh;
}

.ola-container h2 {
    color: var(--c-primary-interaction);
}

.ola-container .ola-first {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ola-container .ola-second {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
}

.ola-second .frame-container {
    display: flex;
    padding-top: 5rem;
    gap: 1rem;
    justify-content: center;
}

.frame-container .frame-item {
    transform: scale(.89);
    object-fit: cover;
    transition: transform 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;

    button {
        display: none;
    }

    h2 {
        opacity: 0;
        color: var(--c-support);
        transition: all 0.3s ease-in-out;
    }
}

.frame-container .frame-item:hover {
    transform: scale(.95);

    h2 {
        opacity: 1;
        transform: scale(1.05) translateY(-1rem);
    }
}

.ola-first .max-width {
    width: 100%;
    display: flex;
    max-width: var(--max-width);
}

.ola-first .ola-content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 4rem;
    width: 24rem;
    z-index: 1;
}

.img-plant-1 {
    position: absolute;
    left: 0;
    z-index: 0;
    bottom: 0;
    height: 100vh;
    width: 10rem;
    overflow: visible;
    display: flex;
    justify-content: flex-end;
}

.img-plant-1 img {
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.img-plant-2 {
    position: absolute;
    right: -20rem;
    bottom: 0;
}

.img-iza-recorte {
    position: absolute;
    right: 12rem;
    bottom: 0;
    z-index: 0;
    width: 48rem;
    object-fit: cover;
}

.img-light-ola {
    position: absolute;
    height: 100vh;
    object-fit: cover;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.img-plant-3 {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.img-sofa {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    object-fit: cover;
    object-position: bottom;
    width: 90%;
}

.img-shadow-ola {
    position: absolute;
    top: -8%;
    left: -5%;
    z-index: 999;
    pointer-events: none;
    display: flex;
    gap: -1rem;
}

.first-img-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1440px;
    height: 100%;
}

.ola-mobile-txt {
    display: none;
}

@media (min-width: 768px) {
    .frame-item.item-1 {
        display: none;
    }
}

@media (max-width: 768px) {

    .ola-container {
        overflow: hidden;
    }

    .ola-container-second {
        display: none;
    }

    .ola-container .ola-first {
        display: none;
    }

    .ola-container .ola-second {
        overflow: hidden;
    }

    .ola-second .img-plant-3 {
        display: none;
    }

    .ola-container .ola-second {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .ola-container .ola-second .ola-mobile-txt {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 1.25rem;
        max-width: 32rem;
        margin-bottom: 3rem;
        padding: 3rem;

        h1 {
            color: #515151;
            text-align: center;
        }
    }

    .ola-second .img-sofa {
        position: absolute;
        left: -5rem;
        bottom: -5rem;
        transform: unset;
        z-index: 0;
        object-fit: cover;
        object-position: bottom;
        width: 80rem;
    }

    .ola-container .ola-second .frame-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 70%;
        overflow-x: auto;
        gap: 0;
        padding-top: 3rem;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .ola-container .ola-second .frame-container img {
        width: 22rem;
        height: auto;
        object-fit: cover;
    }

    .frame-container .frame-item {
        flex-direction: column-reverse;
        width: 100vw;
        gap: 1.5rem;
        margin: 0;
        padding: 0;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        transform: unset;
        transition: unset;

        button {
            display: unset;
        }

        h2 {
            opacity: 1;
            transition: unset;
        }
    }


    .frame-container .frame-item:hover {
        transform: unset;

        h2 {
            opacity: unset;
            transform: unset;
        }
    }
}