.big-number {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    .number {
        color: #FFF;
        text-align: center;
        font-family: "museo-slab-rounded", sans-serif;
        font-size: 3rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.5rem;
    }

    .description {
        color: #FFF;
        text-align: center;
        font-family: "museo-slab-rounded", sans-serif;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 600;
        line-height: 1.25rem;
    }
}

.bottom-container {
    display: flex;
    width: 100vw;
    background-color: rgba(91, 83, 83, 0.4);
    backdrop-filter: blur(3.75rem);
    justify-content: center;
    overflow: hidden;
}

.bottom-container .bottom-bar {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 3rem;
    align-items: center;
    max-width: var(--max-width);
    width: 100%;
    gap: .5rem;
}

.social-container {
    display: flex;
    gap: 0.75rem;
    padding: 0 .75rem;
}

.bottom-bar .title-page-bar {
    display: flex;
    color: var(--c-white, #FFF);
    font-family: Museo-Slab-Rounded;
    font-size: 1.75rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    padding: 0 1.5rem;
    align-items: center;
    min-width: max-content;
}

.bottom-bar .quote-page-bar {
    color: var(--c-white, #FFF);
    font-family: Museo-Slab-Rounded;
    font-size: 2.2rem;
    font-style: italic;
    font-weight: 600;
    line-height: normal;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    flex: 1;
}

.bottom-bar {
    svg {
        width: 0.1rem;
    }
}

@media (max-width: 768px) {
    .big-number {
        display: none;
    }

    .bottom-bar .title-page-bar {
        display: none;
    }

    .bottom-bar .quote-page-bar {
        display: none;
    }

    .bottom-container {
        display: flex;
        width: 100vw;
        background-color: rgba(91, 83, 83, 0);
        backdrop-filter: none;
        justify-content: center;
    }

    .bottom-container .bottom-bar {
        justify-content: center;
    }

    .spacer-bar {
        display: none;
    }
}