.living-room {
    background-color: #435A54;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.living-room-container-second {
    background-color: #435A54;
    width: 100vw;
    height: 100vh;
}

.living-room .page-wrapper {
    display: flex;
    overflow: hidden;
    width: 200vw;
    height: 100vh;
}

.living-room-first {
    position: relative;
    width: 100vw;
}

.living-room-first .rack {
    position: absolute;
    bottom: 0;
    width: 90vw;
    object-fit: cover;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.living-room-first .tv {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tv.screen {
    width: 57.31rem;
    pointer-events: none;
    height: 32.75rem;
}

[class="tv"] {
    box-shadow: -17px 12px 14px 0px rgba(0, 0, 0, 0.25);
}

.tv.tv-content {
    z-index: 99;
}

.living-room-second {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.living-room-second .content-wrapper .cellphone {
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.living-room-second .content-wrapper {
    color: var(--c-white);
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 4rem;
    z-index: 1;
    width: calc(100% - 8rem);
    max-width: var(--max-width);
    position: relative;
}

.living-room-second .content-wrapper h2 {
    width: 14rem;
}

.living-room-second .content-wrapper p {
    width: 20rem;
}

.page-wrapper .img-shadow-living {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
    overflow: hidden;
    /* 
    img {
        transform: scale(1.2);
        width: 100%;
        height: 100%;
    } */
}

.page-wrapper .img-shadow-living-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    pointer-events: none;
    overflow: hidden;
}

.page-wrapper .img-shadow-living-2 img {
    transform: scale(-1.2);
    width: 100%;
    height: 100%;
}


.tv-col-mobile {
    display: none;
}

.living-room-container-second .rack-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    .page-wrapper .img-shadow-living {
        display: none;
    }

    .living-room {
        height: auto;
    }

    .living-room .page-wrapper {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
        height: 100%;
    }

    .living-room .page-wrapper p {
        line-height: 200%;
    }


    .living-room-second {
        flex-direction: column;
        display: flex;
        height: 100vh;
        overflow: hidden;
    }

    .living-room-second .content-wrapper {
        width: calc(100% - 6rem);
        padding: 3rem;
        flex: 1;
        position: relative;
        z-index: 1;
    }

    .living-room-second .content-wrapper .cellphone {
        position: unset;
        right: unset;
        top: unset;
        object-fit: cover;
        object-position: unset;
        height: 42vh;
        width: auto;
        transform: unset;
        transform: scale(1.4) translateX(0%) translateY(0%);
        z-index: -1;
    }

    .living-room-first {
        position: relative;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        display: none;
    }

    .living-room-first .rack {
        transform: translateY(0) translateX(-50%);
        width: 300vw;
    }

    .living-room-first .tv {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
    }

    .tv.screen {
        width: 81.5vw;
        height: 45.5vw;
    }

    .tv.tv-content {
        z-index: 99;
    }

    .page-wrapper .img-shadow-living-2 {
        display: none;
    }

    .living-room-container-second {
        position: relative;
        overflow: hidden;
    }

    .living-room-container-second .rack-mobile {
        bottom: 0;
        left: 50%;
        height: 30vh;
        transform: translateX(-50%);
        position: absolute;
        display: block;
    }

    .living-room-container-second .tv-col-mobile {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        padding: 2.25rem 1.5rem;
    }

    .tv-col-mobile a {
        transition: all .1s;
        user-select: none;
    }

    .tv-col-mobile a .tv-mobile {
        user-select: none;
    }


    .tv-col-mobile a:active {
        opacity: .8;
        transform: scale(.95);
    }

    .living-room-container-second {
        display: flex;
        justify-content: center;
    }

}