.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    align-items: center;
    scroll-snap-align: start;
    z-index: 9999;
    overflow: hidden;
}


.hero-container .hero-content {
    display: flex;
    max-width: var(--max-width);
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
    
}

.hero-container .hero-content h1 {
    text-align: right;
}

.hero-content .hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.hero-img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.hero-img-wrapper .hero-img {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;    
    z-index: -1;
}

.hero-img .img-over {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    transform: scale(1.02);
    object-fit: cover;
}

.hero-img .img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    transform: scale(1.1);
    object-fit: cover;
}

.hero-internal {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.hero-internal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-internal {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}



