.hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    align-items: center;
    scroll-snap-align: start;
    z-index: 9999;
}

.hero-container .hero-content {
    display: flex;
    max-width: var(--max-width);
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
}

.hero-container .hero-content h1 {
    text-align: right;
}

.hero-content .hero-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2rem;
}

.hero-img {
    position: absolute;
    top: 0;
    right: 0;
    object-fit: cover;
    width: 100vw;
    height: 100vh;    
    z-index: -1;
}