.galery-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}



.img-zoom {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.343);
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 9999999;
    animation: enter-opcity .5s ease-in-out;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 100%;
        object-fit: cover;
        animation: zoom-enter .5s ease-in-out;
    }
}

@keyframes zoom-enter {
    from {
        opacity: 0;
        transform: scale(.8) translate(-60%, -60%);
    }
}

@keyframes enter-opcity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}

.galery-container .galery {
    display: flex;
    width: calc(100% - 4rem);
    max-width: var(--max-width);
    gap: 2rem;
    padding: 0 2rem;

    &>img {
        cursor: pointer;
    }
}

.galery-container .galery .galery-frame {
    overflow: hidden;
    display: flex;
}

.client-item {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.galery-container .galery-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .arrow-galery {
        display: none;
    }

    .galery-container .galery {
        width: 100%;
        padding: 0;
    }

    .galery-container .galery .galery-frame {
        overflow-x: auto;
        display: flex;
        padding: 2rem;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .galery-container .galery-row {
        display: flex;
        align-items: center;
    }

    .galery-frame .galery-item {
        width: auto;
        object-fit: cover;
        overflow: hidden;
    }

    .galery-frame .galery-item .client-item img {
        width: 10rem;
        height: auto;
        object-fit: cover;
    
    }


    .galery-frame .galery-item img {
        width: 20rem;
        height: auto;
        object-fit: cover;
    }

    .img-zoom {
        display: none;
    }

}