.galery-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.galery-container .galery {
    display: flex;
    width: calc(100% - 4rem);
    max-width: var(--max-width);
    gap: 2rem;
    padding: 0 2rem;

    &>img {
        cursor: pointer;
    }
}

.galery-container .galery .galery-frame {
    overflow: hidden;
    display: flex;
}

.galery-container .galery-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .arrow-galery {
        display: none;
    }


    .galery-container .galery {
        width: 100%;
        padding: 0;
    }

    .galery-container .galery .galery-frame {
        overflow-x: auto;
        display: flex;
        padding: 2rem;
        scrollbar-width: none;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .galery-container .galery-row {
        display: flex;
        align-items: center;
    }

    .galery-frame .galery-item {
        width: auto;
        object-fit: cover;
        overflow: hidden;
    }

    .galery-frame .galery-item img {
        width: 20rem;
        height: auto;
        object-fit: cover;
    }

}