.slider-screen {
    width: 100vw;
    height: 100vh;
    background-color: var(--c-white);
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative
}

.pointer-slider {
    position: absolute;
    top: 26rem;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 1rem;
}

.slider-container {
    width: 50vw;
    height: 100vh;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    overflow: hidden;
    z-index: 1;
}

.blob-slider{
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -100%);
    filter: blur(110px);
    opacity: .8;
    transition: all 0.5s;
}

.slider-container .slider-frame {
    width: 44rem;
    display: flex;
    overflow: visible;
    z-index: 0;
    position: relative;
}

.slider-container .slider-frame .slider-content {
    display: flex;
    align-items: flex-start;
}

.slider-frame .slider-content .slider-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 44rem;
    gap:3rem;
    padding-top: 8.5rem;
    height: 100%;
}

.slider-content .slider-item .slider-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    text-align: center;
    gap: 1rem;
}

.slider-button {
    z-index: 999999;
}

.slider-dots {
    display: flex;
    gap: .75rem;
    align-items: center;
    z-index: 999999;
    position: absolute;
    top: 3.5rem
}

.slider-dots .dot {
    width: .75rem;
    height: .75rem;
    border-radius: 1rem;
    background-color: #9F9F9F;
}
