.header-container {
    display: flex;
    position: fixed;
    z-index: 99999;
    width: 100vw;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem ;
    max-width: var(--max-width);
    width: 100%;
}
