.footer {
    scroll-snap-align: end;
    display: flex;
    justify-content: center;
}

.footer .footer-content {
    flex: 1;
    max-width: var(--max-width);
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-content .pages-wrapper{
    display: flex;
    gap: 5rem;
}

.footer-content .pages {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    color: #647875;
}

.pages b {
    color: var(--c-primary);
}

.contact-section {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
    color: #647875;
}

.contact-section b {
    color: var(--c-primary);
}

.contact-section span {
    color: var(--c-white)
}

.contact-section .contact-content {
    display: flex;
    gap: 4rem;
    align-items: center;
}

.contact-content>div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.footer-content .logo-footer {
    width: auto;
    height: auto;
}

.contact-content>div>div {
    padding-top: .5rem;
}

@media screen and (max-width: 768px) {

    .footer .footer-content {
        flex: 1;
        max-width: unset;
        padding: 2rem;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;
        overflow-x: hidden;
    }
    
    .footer-content .pages-wrapper {
        gap: 2rem;
        width: 100%;
    }

    .footer-content .logo-footer {
        width: 6rem;
        height: 6rem;
        margin-top: 2rem;
    }

    .contact-section {
        align-items: flex-start;
        width: 100%;
        gap: 2rem;
    }

    .contact-content {
        flex-direction: column;
    }
}