.card-info {
    align-items: flex-start;
    background-color: var(--c-white);
    border-radius: .5rem;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 40rem;
    justify-content: flex-end;
    padding: 0rem 6.5rem 4rem 4rem;
    position: relative;
    min-width: 32rem;
    z-index: 1;
}

.card-info .content-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: .25rem;
    height: 20rem;
    width: 100%;
    z-index: 1;
}

.card-info .subtitle {
    align-self: stretch;
    color: var(--c-dark);
    font-family: "museo-sans", Helvetica;
    font-size: 1.125rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2rem;
    text-transform: uppercase;
}

.card-info .img-wrapper {
    right: 3rem;
    top: 3rem;
    position: absolute;
    z-index: 0;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

.card-frame {
    background-color: var(--c-white);
    overflow: hidden;
    height: 100vh;
    max-width: 100vw;
    display: flex;
    position: relative;
}

.card-container {
    position: relative;
    display: flex;
    gap: 1.25rem;
    align-items: center;
    justify-content: flex-start;
    padding: 0 8rem 0 8rem;
}

.shadow-cards {
    /* position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    width: 100vw; */
    display: none;
}

.card-arrow {
    padding: 4rem;
    z-index: 2;

    img {
        cursor: pointer;
        background-color: var(--c-support);
        width: 2rem;
        object-fit: fit;
        height: 2rem;
        padding: 1.5rem;
        border-radius: 20%;
    }
}


@media screen and (max-width: 768px) {

    .arrow-float {
        display: none;
    }

    .card-info {
        justify-content: space-between;
        padding: 2rem;
        margin-top: 8rem;
        position: relative;
        width: 60vw;
        max-height: 60vh;
        z-index: 1;
        min-width: unset;


        p {
            line-height: 160%;
            font-size: 1rem;
        }
    }

    .card-info .content-wrapper {
        margin-top: 5.5rem;
        align-self: stretch;
        display: flex;
        flex-direction: column;
        gap: .75rem;
        height: auto;
        width: 100%;
        z-index: 1;
    }

    .card-info .img-wrapper {
        right: 50%;
        top: -8rem;
        position: absolute;
        z-index: 0;
        width: 14rem;
        height: 14rem;
        object-fit: cover;
        transform: translateX(50%);
    }

    .card-container {
        padding: 6rem 0 0 0;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: auto;
        height: 100%;
    }

    .card-container .card-info:first-child {
        margin-left: 3rem;
    }

    .card-container .card-info:last-child {
        margin-right: 3rem;
    }

    .card-frame {
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        overflow-x: auto;
        overflow-y: hidden;
        scroll-snap-align: start;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .shadow-cards {
        display: none;
    }
}